*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: larger;
}
.Pan{
    background-color: red;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
}
.Pan:hover{
    background-color: purple;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
}

.click{
    padding: 5px;
    margin: 5px;
    background-color: burlywood;
    color: white;
    text-align: center;
    transition: 3s ease-in-out;
}

.click:hover{
    background-color: whitesmoke;
    color: blue;
    transform: scale(1.2);
    cursor: pointer;
    transition: 2s ease-in-out;
}